In [19]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import desc

In [13]:
spark = SparkSession.\
builder.\
appName("sparksql").\
getOrCreate()

In [14]:
print(spark.version)

3.5.0

In [15]:
data = spark.read.format("csv").\
option('inferSchema', 'true').\
option('header', 'true').\
option('path', 'operations_management.csv').\
load()

In [16]:
data.printSchema()

root
 |-- description: string (nullable = true)
 |-- industry: string (nullable = true)
 |-- level: integer (nullable = true)
 |-- size: string (nullable = true)
 |-- line_code: string (nullable = true)
 |-- value: integer (nullable = true)

In [20]:
data_2 = data.select("industry", "value").\
filter((col("value") > 200) & (col("industry") != "total")).\
orderBy(desc("value"))

In [21]:
data_2.show(5)

+--------------------+-----+
|            industry|value|
+--------------------+-----+
|        Construction| 6030|
|        Construction| 5904|
|        Construction| 5229|
|Accommodation & f...| 5058|
|        Construction| 4965|
+--------------------+-----+
only showing top 5 rows

In [22]:
data_2.createOrReplaceTempView("data")

In [24]:
spark.sql("""SELECT industry, value 
FROM data 
where value > 200 AND 
industry != "total" """)

+--------------------+-----+
|            industry|value|
+--------------------+-----+
|        Construction| 6030|
|        Construction| 5904|
|        Construction| 5229|
|Accommodation & f...| 5058|
|        Construction| 4965|
|        Construction| 4959|
|Accommodation & f...| 4950|
|        Construction| 4686|
|        Construction| 4668|
|        Construction| 4665|
|       Manufacturing| 4662|
|       Manufacturing| 4632|
|        Construction| 4575|
|        Construction| 4566|
|Professional, sci...| 4476|
|Professional, sci...| 4470|
|        Retail trade| 4434|
|        Retail trade| 4434|
|Accommodation & f...| 4251|
|Accommodation & f...| 4176|
+--------------------+-----+
only showing top 20 rows